.container h2{
    position: absolute;
    top: 7vh;
    left: 10vh;
    font-family: Arial, Helvetica, sans-serif;

}
.register {
    position: absolute;
    top: 50vh;
    left: 33vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 90px;
    border-radius: 10px;
    font-weight: bold;
    background-color: transparent;
    padding: 8px;
    border: 1px solid gray;
    outline: none;
    backdrop-filter: blur(16px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.name{
    position: absolute;
    top: 40vh;
    left: 33vh;
    padding: 2px;
    width: 400px;
    font-size: 16px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    height: 40px;
    border: none;
    outline: none;
}


.container p{
    position: absolute;
    top: 51.1vh;
    font-size: 16px;
    font-weight: 500;
    right: 40vh;
    font-family: Arial, Helvetica, sans-serif
}


.login-1{
    position: absolute;
    top: 50vh;
    right: 28vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 90px;
    border-radius: 10px;
    font-weight: bold;
    background-color: transparent;
    padding: 8px;
    border: 1px solid gray;
    outline: none;
    backdrop-filter: blur(16px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}