* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    position: relative;
    background-color: white;
    height: 60px;
    width: 100%;
}


.navbar .logo {
    position: absolute;
    left: 40px;
    height: 50px;
    width: 140px;
}


.navbar .user {
    position: absolute;
    right: 20px;
    top: 15px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}


.navbar .cart {
    position: absolute;
    right: 60px;
    top: 15px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}


.navbar .like {
    position: absolute;
    right: 100px;
    top: 15px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}


.navbar .about {
    position: absolute;
    top: 22px;
    left: 40%;
}


.navbar .about a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    color: black;
    text-decoration: none;
}


.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 125vh;
}


.text-box {
    position: absolute;
    top: 0;
    height: 45vh;
    background-image: linear-gradient(rgb(237, 255, 237), white);
    width: 100%;
}


.text-box h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    margin-top: 60px;
    font-weight: bold;
    text-align: center;
}


.text-box p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin: 20px;
    text-align: center;
}


.buttons {
    margin-top: 40px;
    text-align: center;
}


.shop-btn {
    padding: 10px;
    width: 150px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    background-color: rgb(49, 186, 28);
    border: none;
    margin-right: 20px;
    cursor: pointer;
}


.selller-btn {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    background-color: transparent;
    border: 1px solid rgb(49, 186, 28);
    cursor: pointer;
}


.text-product {
    position: absolute;
    width: 100%;
    align-content: center;
    height: 30vh;
    background-image: linear-gradient(white, rgb(243, 242, 242));
    /* border: 2px solid yellow; */
    top: 45vh;
}


.text-product h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
}


.text-product p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
}


.products {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 75vh;
    justify-content: space-evenly;
    width: 100%;
    height: 50vh;
    background-color: rgb(243, 242, 242);
}


.product-box {
    position: relative;
    justify-content: center;
    width: 32%;
    height: 40vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.product-box img {
    width: 100%;
    height: 40vh;
    border-radius: 10px;
    object-fit: cover;
    filter: brightness(60%);
    transition: filter 0.3s ease-in-out;
   
}


.product-box img:hover {
    filter: brightness(100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    filter: brightness(70%);
}



.text-1 h2 {
    position: absolute;
    top: 0;
    margin: 18% 25%;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}


.text-1 p {
    position: absolute;
    top: 55%;
    left: 30%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}


.footer {
    width: 100%;
    height: 30vh;
    background-image: linear-gradient(rgb(243, 242, 242), rgb(237, 255, 237));
    display: flex;
    justify-content: center;
    /* Centers content vertically */
    align-items: center;
    /* Ensures items are centered */
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* Distributes items evenly */
    align-items: center;
    /* Centers items vertically */
}

.footer h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;
}

.footer p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
}

.footer img:hover {
    box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recycle,
.service,
.quality {
    display: flex;
    flex-direction: column;
    /* Stacks content vertically */
    align-items: center;
    /* Centers content */
    text-align: center;
    width: 30%;
}

/* Ensuring all images have the same size */
.recycle img,
.service img,
.quality img {
    background-color: rgb(204, 255, 204);
    border-radius: 50%;
    padding: 10px;
    width: 60px;
    height: 60px;
}







/* Adding responciveness */

@media screen and (max-width: 1400px) {

    .navbar .logo {
        position: absolute;
        top: 6px;
        left: 6px;
        height: 40px;
        width: 100px;
    }


    .navbar .about {
        position: absolute;
        top: 20px;
        left: 27%;
    }


    .navbar .about a {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
        margin: 1px;
        color: black;
        text-decoration: none;
    }


    .navbar .user {
        position: absolute;
        right: 8px;
        top: 22px;
        width: 18px;
        height: 18px;
        cursor: pointer;
    }


    .navbar .cart {
        position: absolute;
        right: 38px;
        top: 22px;
        width: 18px;
        height: 18px;
        cursor: pointer;
    }


    .navbar .like {
        position: absolute;
        right: 68px;
        top: 22px;
        width: 18px;
        height: 18px;
        cursor: pointer;
    }


    .text-box {
        position: absolute;
        top: 0;
        height: 60vh;
        background-image: linear-gradient(rgb(237, 255, 237), white);
        width: 100%;
    }


    .container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        height: 210vh;
    }


    .text-product {
        position: absolute;
        width: 100%;
        align-content: center;
        height: 18.1vh;
        background-image: linear-gradient(white, rgb(243, 242, 242));
        /* border: 2px solid yellow; */
        top: 57vh;
    }



    .products {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 75vh;
        justify-content: space-evenly;
        width: 100%;
        gap: 20px;
        height: 135vh;
        background-color: rgb(243, 242, 242);
    }


    .product-box {
        position: relative;
        justify-content: center;
        width: 44vh;
        height: 40vh;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
    }

    .product-box img {
        width: 100%;
        height: 40vh;
        border-radius: 10px;
        object-fit: cover;
        transition: filter 0.3s ease-in-out;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        filter: brightness(70%);
    }


    .footer {
        position: absolute;
        width: 100%;
       
        height: 25vh;
        background-image: linear-gradient(rgb(243, 242, 242), rgb(237, 255, 237));
        display: flex;
        justify-content: center;
        /* Centers content vertically */
        align-items: center;
        /* Ensures items are centered */
    }

    .footer-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        /* Distributes items evenly */
        align-items: center;
        /* Centers items vertically */
    }

    .footer h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        text-align: center;
    }

    .footer p {
        font-size: 8px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        text-align: center;
    }

    .footer img:hover {
        box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .recycle,
    .service,
    .quality {
        display: flex;
        flex-direction: column;
        /* Stacks content vertically */
        align-items: center;
        /* Centers content */
        text-align: center;
        width: 30%;
    }

    /* Ensuring all images have the same size */
    .recycle img,
    .service img,
    .quality img {
        background-color: rgb(204, 255, 204);
        border-radius: 50%;
        padding: 10px;
        width: 60px;
        height: 60px;
        margin-bottom: 5px;
    }



}